body{
    background-color: #ddd;
    margin: 10px 30px;
}
h1{
    margin: 5px 0;
    text-align: center;
}
#mastermind{
    width: 180px;
    border: solid 1px #000;
    border-radius: 5px;
    background-color: #888;
    margin: 0 auto;
}
#reponse{
    border-bottom: 1px solid #000;
}
#reponse .rond{
    text-align: center;
    line-height: 26px;
    font-weight: bold;
}
#estimation,#couleur{
    border-top: solid 1px #000;
}
#reponse, #estimation, #couleur, #historique{
    display: flex;
    flex-direction: row;
    padding: 2px 0;
}
#historique{
    flex-direction: column;
}
.histo{
    display: flex;
    flex-direction: row;
    padding: 2px 0;
}
.ronds, .petit-ronds{
    display: flex;
    flex-direction: initial;
}
.ronds{
    flex-direction: row;
    width: 150px;
}
.petit-ronds{
    flex-wrap: wrap;
    width: 20px;
    padding: 3px 0;
}
.rond{
    height: 25px;
    width: 25px;
    border: black solid 1px;
    border-radius: 50%;
    margin: 0 1px;
}
.petit-rond{
    height: 8px;
    width: 8px;
    border: black solid 1px;
    border-radius: 50%;
}
button{
    padding: 0;
}
button:active, #estimation .rond:active, #couleur .rond:active{
    cursor: move;
}
button, #estimation .rond, #couleur .rond{
    cursor: pointer;
}
.c1{
    background-color: #f00;
}
.c2{
    background-color: #00f;
}
.c3{
    background-color: #0f0;
}
.c4{
    background-color: #ff0;
}
.c5{
    background-color: #f80;
}
.c6{
    background-color: #808;
}
.c0{
    background-color: #fff;
}
.c7{
    background-color: #000;
}
#message{
    display: none;
    position: absolute;
    width: 400px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 15px;
    background: #eee;
    top:0;
    left:0;
    animation: messageTab 1.5s forwards;
    text-align: center;
}
#message p{
    margin: 9% auto;
    font-size: 3.5vh;
}
@keyframes messageTab{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}