body{
  font-size: 20px;
  color: #eee;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#wrap{
  margin: 10px 0;
  text-align: center;
}
h1{
  margin:0;
}
p{
  margin:10px 0;
}
#time,#nbC{
  display: inline-block;
}
#cm, .switch{
  display: inline-flex;
}
#cm{
  margin-right: 5px;
}
#gameArea{
  flex-wrap: wrap;
  font-size: 50px;
  margin: 0 auto;
  background: #ddd;
  border-radius: 30px;
  color: #425da4;
}
img{
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
  transition: transform 0.6s;
}
.flipped {
  -webkit-transform: rotateY( 0deg );
  -moz-transform: rotateY( 0deg );
  -o-transform: rotateY( 0deg );
  transform: rotateY( 0deg );
}
input[type=number]{
  width: 40px;
  text-align: center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}
#start{
  margin-right: 20px;
}
#message{
  margin: 0;
  padding: 0;
}
#option{
  position: absolute;
  margin: 60px 0 0 200px;
  width: 260px;
  text-align: left;
}
legend{
  text-align: left;
}
fieldset{
  border-radius: 5px;
}
#nbC{
  background: url("../img/cards.png") no-repeat;
  line-height: 34px;
  margin: 0;
}
#nbCarte{
  margin-left: 70px;
}
#ff,#pk{
  width: 20px;
  height: 20px;
  border: 2px #fff solid;
  display: inline-block;
  margin-right: 10px;
}
#ff{
  background-color: #785384;
}
#pk{
  background-color: #4848fc;
}
/*SWITCH*ON*OFF*/
.switch {
  position: relative;
}
.switch input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.switch input:checked {
  z-index: 1;
}
.switch input:checked + label {
  opacity: 1;
  cursor: default;
}
.switch input:not(:checked) + label:hover {
  opacity: 0.5;
}
.switch label {
  color: #fff;
  opacity: 0.33;
  transition: opacity 0.25s ease;
  cursor: pointer;
}
.switch .toggle-outside {
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
  transition: 0.25s ease all;
}
.switch .toggle-inside {
  border-radius: 2px;
  width: 100%;
  position: absolute;
  transition: 0.25s ease all;
}
.toggle-outside{
  padding-top: 0.6rem;
  text-align: center;
  background-color: #222;
  color: #eee;
}
.toggle-inside{
  margin-left: -5px;
}
.switch--vertical {
  width: 3rem;
  height: 1.4rem;
}
.switch--vertical input {
  height: 2.6rem;
  width: 3rem;
  left: 0;
  margin: 0;
}
.switch--vertical label {
  font-size: 1.5rem;
  line-height: 3rem;
  display: block;
  width: 3rem;
  height: 100%;
  margin: 0;
  text-align: center;
}
.switch--vertical .toggle-outside {
  background: #fff;
  color: #000;
  position: absolute;
  width: 3rem;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #222;
  color: #eee;
}
.switch--vertical .toggle-inside {
  height: 0.7rem;
  width: 3rem;
  background-color: #fff;
}
.switch--vertical input:checked ~ .toggle-outside .toggle-inside {
  top: 0.05rem;
}
.switch--vertical input ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 1.3rem;
}